# fly.toml app configuration file generated for openner on 2025-11-03T23:41:57-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'openner'
primary_region = 'dfw'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
